@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*TABLA DE COLORES*/
:root{
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

*{
    margin: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

/*Resolución mobile*/
@media screen and (min-width: 320px){
    
    .logo img{
        width: 40%;
        max-width: 200px;
    }

    .logo i{
        color: var(--blanco);
        font-size: 2rem;
    }

    .logo{
        background-color: var(--negro2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .menu{
        background-color: rgba(1, 10, 52, 0.838);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .menu-hr{
        width: 90%;
        background-color: var(--blanco);
    }
    .item{
        padding: 1rem;
    }

    nav a{
        color: var(--blanco);
        text-decoration: none;
        text-align: center;
    }
    
    nav a:hover{
        background-color: #0B3860;
        width: 100%;
    }

    .navbar-button{
        background-color:transparent;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        padding: 0.5rem;
        font-family: "Marcellus", serif;
        color: var(--blanco);
    }

    .indexi{
        width: 100%;
    }

    .conteimg{
        position: relative;
        display: inline-block;
    }

    .contetexto{
        font-size: 5px;
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: var(--blanco);
        background-color: rgba(0, 0, 0, 0.445);
    }

    .contedesc{
        width: 280px;
        margin: 30px auto;
        padding: 20px 20px;
    }
  
    .contedesc img{
        width: 8rem;
        border-radius: 10px;
        margin-left: 5rem;
    }

    .features{
        background: url(../imagenes/index/bg-features.png);
        color: #fff;
        width: 100%;
        padding-top: 1rem;
    }

    .featurestitulo{
        background-color: rgba(0,0,0,0.35);
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5em;
    }

    .featuresdesc{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }

    .feature{
        width: 100px;
        height: 90px;
        margin: 0.8rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
    }

    .featurearriba{
        flex-direction: row;
    }

    .featureabajo{
        flex-direction: row;
    }

    .feature i{
        font-size: 2.2em;
        margin-bottom: 1.5rem;
    }

    .featureazul{
        background-color: #00325eae;
    }

    .featurenegro{
        background-color: rgba(0,0,0,0.59);
    }

    .titulomapa{
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    .mapa{
        justify-content: center;
        text-align: center;
        margin: 10px;
    }

    .direccion{
        text-align: center;
        padding-top: 2rem;
        margin: 5px;
    }

    .hr{
        background-color: var(--azuloscuro);
        width: 360px;
        margin: 2rem;
    }

    .conteusuarios{
        background-color: var(--negro);
        height: 200px;
        margin-top: 50px;
    }

    .titulousu{
        padding-top: 3rem;
        text-align: center;
        color: #fff;
    }

    .contecomen{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 20px;
    }

    .cajascomen{
        width: 300px;
        height: 180px;
        margin: 0.8rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #0B3860;
        color: #fff;
    }

    .cajascomen p{
        margin-bottom: 20px;
    }

    .cajascomen img{
        width: 50px;
        border-radius: 100px;
    }

    .cardarriba{
        background-image: url(/imagenes/Group\ 200.svg);
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .nombrecard{
        float: right;
        margin-right: 80px;
        margin-top: 10px;
    }

    .nombrecard i{
        padding-top: 7px;
        padding-right: 8px;
    }

    footer{
        height: 400px;
        background-color: var(--negro);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top:50rem;
    }

    .cajasfooter1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--blanco);
        padding-top: 50px;
        height: 30px;
    }

    .cajasfooter2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        padding-top: 20px;
        margin-left: 5px;
    }

    footer i{
        padding: 8px;
    }

    .cajasfooter3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        width: 350px;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .hrfooter{
        margin-right: 5px;
    }

    .iconosfooter{
        color: var(--blanco);
        margin-right: 70px;
    }

    /*ESTILOS LOGIN */

    .login{
        background-image: url(../imagenes/login/fondo.jpg);
        background-repeat: no-repeat;
        width: 100%;
    }
    
    .conteform img{
        width: 130px;
        float: left;
        padding: 1rem;
    }
    
    .conteicono i{
        color: #9C2759;
        background-color: #fff;
        border-radius: 60px;
        font-size: 50px;
        margin-top: 80px;
        margin-left: -20px;
    }

    .conteform{
        justify-content: space-between;
        margin-top: 150px;
        margin-left: 10px;
        margin-right: 10px;
        height: 400px;
        width: 315px;
        background-color: #3379b7a9;
    }
    
    .contecampos{
        margin-left: 25px;
    }
    
    .contecampos label{
        color: var(--blanco);
        display: inline-block;
        padding: 5px;
    }
    
    .input1{
        margin-bottom: 20px;
    }
    
    .contecampos input{
        padding: 4px;
        outline: none;
        width: 270px;
        border-radius: 3px;
        border: none;
    }
    
    .botonlogin{
        color: var(--blanco);
        margin-top: 50px;
        outline: none;
        background-color: var(--negro2);
        width: 280px;
        height: 30px;
        font-size: 1rem;
        border-radius: 3px;
        border: none;
    }

    .botonlogin a{
        color: var(--blanco);
        text-decoration: none;
    }
    
    .conteform h5{
        padding: 10px;
        color: #fff;
        margin-left: 20px;
    }

    .botona{
        text-decoration: none;
        color: #000;
    }

    /*ESTILOS FORMULARIO REGISTRO USUARIOS*/

    .bodyformreu{
        background-image: url(../imagenes/formregusu/fondo.jpg);
        /*background-repeat: no-repeat;*/
        width: 100%;
    }

    .contepadre{ 
        display: flex;
        flex-direction: column;
        position: absolute;
    }

    .conte1{
        margin-top: 20px;
        height: 100px;
        width: 718px;
        background-color: #00325eae;
        text-align: center;
        color: var(--blanco);
    }

    .conte1 img{
        justify-content: center;
        width: 150px;
        margin-top: 8px;
    }

    .conte1 h3{
        font-size: 30px;
    }
    
    .conte1 h2{
        /*justify-content: center;
        text-align: center;
        font-size: 20px;*/
        display: none;
    }

    .conte2{
        position: absolute;
        justify-content: center;
        margin: 150px 150px;
        border-radius: 4px;
        padding: 10px;
        height: 1000px;
        width: 300px;
        background-color: rgba(231, 229, 229, 0.877);
    }

    .conte2 h1{
        text-align: center;
    }

    .conte3{
        margin: auto;
        width: 300px;
    }

    .conte3 input {
        font-size: 15px;
        width: 280px;
        outline: none;
        border:none;
        padding: 5px;
        border-radius: 5px;
    }

    .conte3 select{
        width: 290px;
        outline: none;
        border:none;
        padding: 4px;
        border-radius: 5px;
    }

    .camposform{
        padding: 10px;
    }

    .camposformg{
        display: flex;
        justify-content: flex-start;
        width: 100px;
        padding: 20px;
    }

    .conte4{
        margin: 20px;
        display:block;
    }

    .conte4 a{
        text-decoration: none;
        color: #000;
    }

    .botonform{
        background: var(--negro2);
        color: var(--blanco);
        font-size: 18px;
        padding: 2px 10px;
        display: block;
        width: 200px;
        height: 30px;
        margin: 0px auto;
        border: none;
    }

    /*FORMULARIO USUARIO*/

    .fondousu{
        background-image: url(../imagenes/formusu/fondo.jpg);
        background-size: 100%;
    }
    
    .contenedor1{
        height: 625px;
        width: 50px;
        background-color: var(--azulnegro);
        justify-content: center;
        color: var(--blanco);
    }

    .contenedor1 img{
        margin-top: 20px;
        width: 50px;
    }

    .conteencabezado{
        background-color: var(--azuloscuro);
        height: 190px;
    }

    .contenedor1 h5{
        display: none;
    }   

    .opcion1 i{
        font-size: 20px;
        margin-left: 10px;
    }

    .opcion1{
        display: flex;
        flex-direction: row;
        padding-top: 40px;
    }

    .opcion1 h4{
        margin-left: 23px;
        display: none;
    }

    .opcion2{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        padding-left: 20px;
    }

    .opcion2 h4{
        margin-left: 23px;
        display: none;
    }

    .opcion2 i{
        margin-left: -8px;
        font-size: 25px;
    }

    .contepadre{ 
        display: flex;
        flex-direction: row;
    }

    .contenedor2 img{
        width: 100px;
        margin-left: 70px;
    }

    .contenedor2{
        margin: 20px 35px;
        border-radius: 4px;
        padding: 30px;
        height: 1000px;
        width: 250px;
        background-color: rgba(231, 229, 229, 0.877);
    }

    .contenedor2 h1{
        text-align: center;
    }

    .iconosform{
        color: var(--blanco);
        background-color: var(--azuloscuro);
        margin-left: 60px;
        width: 120px;
        height: 35px;
        text-align: center;
        font-size: 30px;
        margin-top: 5px;
    }

    .iconosform i{
        padding-right: 17px;
        padding-left: 10px;
    }

    #icono1{
        display: none;
    }

    .botoncambiar{
        margin-top: 30px;
        margin-left: 20px;
        border-radius: 4px;
        border: none;
        background: var(--negro);
        color: var(--blanco);
        font-size: 18px;
        width: 150px;
        height: 58px;
        display: none;
    }   

    .contenedordos{
        float: left;
        
    }

    .contenedor3{
        background-color: rgba(231, 229, 229, 0.062);
        margin-right: 100px;
        width: 550px;
    }

    .contenedor3 input {
        font-size: 10px;
        width: 230px;
        outline: none;
        border:none;
        padding: 5px;
        border-radius: 2px;
    }

    .contenedor3 select{
        width: 230px;
        outline: none;
        border:none;
        padding: 4px;
        border-radius: 2px;
    }   

    .botonactualizar{
        margin-left: 9px;
        border-radius: 2px;
        border: none;
        background: var(--negro);
        color: var(--blanco);
        font-size: 18px;
        width: 190px;
        height: 40px;
    }

    .botoncambiar2{
        margin-left: 10px;
        margin-top: 5px;
        border-radius: 2px;
        border: none;
        background: var(--negro);
        color: var(--blanco);
        font-size: 18px;
        width: 190px;
        height: 40px;
    }

    .camposform1{
        padding: 10px;
    }

    .cambioorden{
        display: flex;
        flex-direction: row-reverse;
    }

    /*ESTILOS MODAL*/

    .conte4 button{
        border-radius: 1px var(--negro2);
        height: 13px;
    }

    #cerrar{
        color: var(--blanco);
        background: var(--negro);
        font-size: 15px;
        padding: 2px 10px;
        display: block;
        width: 95px;
        height: 30px;
        margin: 0px auto;
        border: none;
    }

    .modal-container{
        background-color: var(--blanco);
        display: flex;
        position: fixed;
        pointer-events: none;
        bottom: 80px;
        left: 450px;
        width: 400px;
        height: 450px;
        opacity: 0;
    }

    .show{
        pointer-events: auto;
        opacity: 1;
    }

    .modal{
        width: 600px;
        max-width: 100%;
    }

    .modaltitulo{
        background-color: var(--azuloscuro);
        width: 100%;
        height: 70px;
    }

    .modaltitulo h2{
        color: var(--blanco);
        padding: 18px 70px;
    }

    .modal p{
        padding: 30px;
    }
}

/*Resolución tablet*/
@media screen and (min-width: 768px){

    .logo img{
        width: 40%;
        max-width: 200px;
    }

    .logo i{
        color: var(--blanco);
        font-size: 2rem;
    }

    .logo{
        background-color: var(--negro2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .menu{
        background-color: rgba(1, 10, 52, 0.838);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .menu-hr{
        width: 90%;
        background-color: var(--blanco);
    }
    .item{
        padding: 1rem;
    }

    nav a{
        color: var(--blanco);
        text-decoration: none;
        text-align: center;
    }
    
    nav a:hover{
        background-color: #0B3860;
        width: 100%;
    }

    .navbar-button{
        background-color:transparent;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        padding: 0.5rem;
        font-family: "Marcellus", serif;
        color: var(--blanco);
    }

    .indexi{
        width: 100%;
    }

    .conteimg{
        position: relative;
        display: inline-block;
    }

    .contetexto{
        font-size: 10px;
        position: absolute;
        left: 10px;
        bottom: 15px;
        color: var(--blanco);
        background-color: rgba(0, 0, 0, 0.445);
    }

    .contedesc{
        width: 700px;
        margin: 30px auto;
        padding: 20px 20px;
        text-align: left;
    }
      
    .contedesc img{
        width: 8rem;
        border-radius: 10px;
        float: right;
        margin-left: 8rem;
    }

    .features{
        background: url(../imagenes/index/bg-features.png);
        color: #fff;
        width: 100%;
        padding-top: 1rem;
    }

    .featurestitulo{
        background-color: rgba(0,0,0,0.35);
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5em;
    }

    .featuresdesc{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }

    .feature{
        width: 180px;
        height: 90px;
        margin: 0.8rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
    }

    .featurearriba{
        flex-direction: row;
    }

    .featureabajo{
        flex-direction: row;
    }

    .feature i{
        font-size: 2.2em;
        margin-bottom: 1.5rem;
    }

    .featureazul{
        background-color: #00325eae;
    }

    .featurenegro{
        background-color: rgba(0,0,0,0.59);
    }

    .titulomapa{
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    .mapa{
        justify-content: center;
        text-align: center;
        margin: 10px;
    }

    .direccion{
        text-align: center;
        padding-top: 2rem;
        margin: 5px;
    }

    .hr{
        background-color: var(--azuloscuro);
        width: 655px;
        margin-left: 3rem;
    }

    .conteusuarios{
        background-color: var(--negro);
        height: 200px;
        margin-top: 50px;
    }

    .titulousu{
        padding-top: 3rem;
        text-align: center;
        color: #fff;
    }

    .contecomen{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 20px;
    }

    .cajascomen{
        width: 300px;
        height: 180px;
        margin: 0.8rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #0B3860;
        color: #fff;
    }

    .cajascomen p{
        margin-bottom: 20px;
    }

    .cajascomen img{
        width: 50px;
        border-radius: 100px;
    }

    .cardarriba{
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .nombrecard{
        float: right;
        margin-right: 80px;
        margin-top: 10px;
    }

    .nombrecard i{
        padding-top: 7px;
        padding-right: 8px;
    }

    footer{
        height: 250px;
        background-color: var(--negro);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top:50rem;
    }

    .cajasfooter1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--blanco);
        height: 30px;
    }

    .cajasfooter2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        padding-top: 20px;
        margin-left: 5px;
    }

    footer i{
        padding: 8px;
    }

    .cajasfooter3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        width: 350px;
        margin-left: 20px;
        padding-bottom: 10px;
    }

    .hrfooter{
        display: none;
    }

    .iconosfooter{
        color: var(--blanco);
        margin-right: 240px;
        margin-top: 20px;
        font-size: 20px;
    }

    /*ESTILOS LOGIN */

    .login{
        background-image: url(../imagenes/login/fondo.jpg);
        background-repeat: no-repeat;
        width: 100%;
    }
    
    .conteform img{
        width: 130px;
        float: left;
        padding: 1rem;
    }
    
    .conteicono i{
        color: #9C2759;
        background-color: #fff;
        border-radius: 60px;
        font-size: 50px;
        margin-top: 80px;
        margin-left: -20px;
    }

    .conteform{
        margin-top: 150px;
        margin-left: 230px;
        height: 400px;
        width: 320px;
        background-color: #3379b7a9;
    }
    
    .contecampos{
        margin-left: 25px;
    }
    
    .contecampos label{
        color: var(--blanco);
        display: inline-block;
        padding: 5px;
    }
    
    .input1{
        margin-bottom: 20px;
    }
    
    .contecampos input{
        padding: 4px;
        outline: none;
        width: 270px;
        border-radius: 3px;
        border: none;
    }
    
    .botonlogin{
        color: var(--blanco);
        margin-top: 50px;
        outline: none;
        background-color: var(--negro2);
        width: 280px;
        height: 30px;
        font-size: 1rem;
        border-radius: 3px;
        border: none;
    }

    .botonlogin a{
        color: var(--blanco);
        text-decoration: none;
    }
    
    .conteform h5{
        padding: 10px;
        color: #fff;
        margin-left: 20px;
    }

    .botona{
        text-decoration: none;
        color: #000;
    }

    /*ESTILOS FORMULARIO REGISTRO USUARIOS*/

    .bodyformreu{
        background-image: url(../imagenes/formregusu/fondo.jpg);
        /*background-repeat: no-repeat;*/
        width: 100%;
    }

    .contepadre{ 
        display: flex;
        flex-direction: column;
    }

    .conte1{
        margin-top: 20px;
        height: 100px;
        width: 800px;
        background-color: #00325eae;
        text-align: center;
        color: var(--blanco);
    }

    .conte1 img{
        justify-content: center;
        width: 150px;
        margin-top: 8px;
    }

    .conte1 h3{
        font-size: 30px;
    }
    
    .conte1 h2{
        /*justify-content: center;
        text-align: center;
        font-size: 20px;*/
        display: none;
    }

    .conte2{
        justify-content: center;
        margin-left: 250px;
        border-radius: 4px;
        padding: 10px;
        height: 1000px;
        width: 300px;
        background-color: rgba(231, 229, 229, 0.877);
    }

    .conte2 h1{
        text-align: center;
    }

    .conte3{
        margin: auto;
        width: 300px;
    }

    .conte3 input {
        font-size: 15px;
        width: 280px;
        outline: none;
        border:none;
        padding: 5px;
        border-radius: 5px;
    }

    .conte3 select{
        width: 290px;
        outline: none;
        border:none;
        padding: 4px;
        border-radius: 5px;
    }

    .camposform{
        padding: 10px;
    }

    .camposformg{
        display: flex;
        justify-content: flex-start;
        width: 100px;
        padding: 20px;
    }

    .conte4{
        margin: 20px;
        display:block;
    }

    .conte4 a{
        text-decoration: none;
        color: #000;
    }

    .botonform{
        background: var(--negro2);
        color: var(--blanco);
        font-size: 18px;
        padding: 2px 10px;
        display: block;
        width: 200px;
        height: 30px;
        margin: 0px auto;
        border: none;
    }

    .fondousu{
        background-image: url(../imagenes/formusu/fondo.jpg);
        background-size: 100%;
    }
    
    .contenedor1{
        height: 625px;
        width: 50px;
        background-color: var(--azulnegro);
        justify-content: center;
        color: var(--blanco);
    }

    .contenedor1 img{
        margin-top: 20px;
        width: 50px;
    }

    .conteencabezado{
        background-color: var(--azuloscuro);
        height: 190px;
    }

    .contenedor1 h5{
        display: none;
    }   

    .opcion1 i{
        font-size: 20px;
        margin-left: 10px;
    }

    .opcion1{
        display: flex;
        flex-direction: row;
        padding-top: 40px;
    }

    .opcion1 h4{
        margin-left: 23px;
        display: none;
    }

    .opcion2{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        padding-left: 20px;
    }

    .opcion2 h4{
        margin-left: 23px;
        display: none;
    }

    .opcion2 i{
        margin-left: -8px;
        font-size: 25px;
    }

    .contepadre{ 
        display: flex;
        flex-direction: row;
    }

    .contenedor2 img{
        width: 100px;
        margin-left: 70px;
    }

    .contenedor2{
        margin: 20px 35px;
        border-radius: 4px;
        padding: 30px;
        height: 1000px;
        width: 250px;
        background-color: rgba(231, 229, 229, 0.877);
    }

    .contenedor2 h1{
        text-align: center;
    }

    .iconosform{
        color: var(--blanco);
        background-color: var(--azuloscuro);
        margin-left: 60px;
        width: 120px;
        height: 35px;
        text-align: center;
        font-size: 30px;
        margin-top: 5px;
    }

    .iconosform i{
        padding-right: 17px;
        padding-left: 10px;
    }

    #icono1{
        display: none;
    }

    .botoncambiar{
        margin-top: 30px;
        margin-left: 20px;
        border-radius: 4px;
        border: none;
        background: var(--negro);
        color: var(--blanco);
        font-size: 18px;
        width: 150px;
        height: 58px;
        display: none;
    }   

    .contenedordos{
        float: left;
        
    }

    .contenedor3{
        background-color: rgba(231, 229, 229, 0.062);
        margin-right: 100px;
        width: 550px;
    }

    .contenedor3 input {
        font-size: 10px;
        width: 230px;
        outline: none;
        border:none;
        padding: 5px;
        border-radius: 2px;
    }

    .contenedor3 select{
        width: 230px;
        outline: none;
        border:none;
        padding: 4px;
        border-radius: 2px;
    }   

    .botonactualizar{
        margin-left: 9px;
        border-radius: 2px;
        border: none;
        background: var(--negro);
        color: var(--blanco);
        font-size: 18px;
        width: 190px;
        height: 40px;
    }

    .botoncambiar2{
        margin-left: 10px;
        margin-top: 5px;
        border-radius: 2px;
        border: none;
        background: var(--negro);
        color: var(--blanco);
        font-size: 18px;
        width: 190px;
        height: 40px;
    }

    .camposform1{
        padding: 10px;
    }

    .cambioorden{
        display: flex;
        flex-direction: row-reverse;
    }
}

/*Resolución notebooks*/
@media screen and (min-width: 1024px){

    nav{
        display: flex;
        flex-direction: row; /*se cambia la posición de los elementos*/
        width: 100%;
        justify-content: space-between;
        background-color: var(--negro2);
    }

    .logo{
        padding: 1rem;
    }

    .logo img{
        width: 100%;
        max-width: 180px;
    }

    .logo i{ /*se oculta el ícono bars del menú hamburguesa*/
        display: none;
    }
 
    .menu{
        background-color: var(--negro2);
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu-hr{ /*se oculta la barra de división*/
        display: none;
    }

    .navbar-button{
        background-color:var(--azuloscuro);
    }    

    .indexi{
        width: 100%;
    }
    
    .conteimg{
        position: relative;
        display: inline-block;
    }
    
    .contetexto{
        font-size: 1rem;
        position: absolute;
        height: 80px;
        top: 20rem;
        left: 4rem;
        color: var(--blanco);
        background-color: rgba(0, 0, 0, 0.26);
    }
    
    .imgdesc{
        float: right;
    }
    
    .contedesc{
        width: 850px;
        margin: 30px auto;
        padding: 20px 20px;
        text-align: left;
    }
      
    .contedesc img{
        width: 10rem;
        border-radius: 10px;
        float: right;
        margin-left: 8rem;
    }
    
    .features{
        background: url(../imagenes/index/bg-features.png);
        color: #fff;
        padding-top: 1rem;
        height: 15rem;
    }
    
    .featurestitulo{
        background-color: rgba(0,0,0,0.35);
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5em;
    }
    
    .featuresdesc{
        display: flex;
    }
    
    .feature{
        width: 150px;
        height: 100px;
        padding: 1rem;
        margin: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
    }

    .featurearriba{
        display: flex;
        text-align: center;
        flex-direction: row;
    }

    .featureabajo{
        display: flex;
        text-align: center;
        flex-direction: row;
    }

    .feature i{
        font-size: 2.2em;
        margin-bottom: 1.5rem;
    }
    
    .featureazul{
        background-color: #00325eae;
    }
    
    .featurenegro{
        background-color: rgba(0,0,0,0.59);
    }
    
    .titulomapa{
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 1rem;
    }
    
    .mapa{
        justify-content: center;
        text-align: center;
    }
    
    .direccion{
        text-align: center;
        padding-top: 2rem;
    }

    .hr{
        width: 650px;
        margin-left: 14.5rem;
    }
    
    .conteusuarios{
        background-color: var(--negro);
        height: 200px;
        margin-top: 100px;
        
    }
    
    .titulousu{
        padding-top: 3rem;
        text-align: center;
        color: #fff;
    }
    
    .contecomen{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 20px;
    }
    
    .cajascomen{
        width: 270px;
        height: 180px;
        margin: 0.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #0B3860;
        color: #fff;
    }

    .cajascomen img{
        width: 50px;
        border-radius: 100px;
    }

    .cardarriba{
        display: flex;
        flex-direction: row;
        height: 80px;
    }

    .nombrecard{
        margin-left: 20px;
    }

    .nombrecard i{
        padding-top: 7px;
    }

    .estrellas{
        display: flex;
        flex-direction: row;
    }
    
    footer{
        height: 100%;
        background-color: var(--negro);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 18rem;
    }
    
    .cajasfooter1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        padding-top: 40px;
        height: 100px;
        margin-left: 30px;
    }
    
    .cajasfooter2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        height: 100px;
        padding-top: 30px;
        margin-left: 50px;
    }
    
    footer i{
        padding: 8px;
    }
    
    .cajasfooter3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        padding-top: 25px;
        height: 100px;
        width: 200px;
        margin-left: 50px;
    }

    .iconosfooter{
        display: flex;
        margin-top: 50px;
        margin-right: 860px;
    }

    /*ESTILOS LOGIN */

    .login{
        background-image: url(../imagenes/login/fondo.jpg);
        background-repeat: no-repeat;
        width: 100%;
    }
    
    .conteform img{
        width: 130px;
        float: left;
        padding: 1rem;
    }
    
    .conteicono i{
        color: #9C2759;
        background-color: #fff;
        border-radius: 60px;
        font-size: 50px;
        margin-top: 80px;
        margin-left: -20px;
    }

    .conteform{
        margin-top: 150px;
        margin-left: 350px;
        height: 400px;
        width: 320px;
        background-color: #3379b7a9;
    }
    
    .contecampos{
        margin-left: 25px;
    }
    
    .contecampos label{
        color: var(--blanco);
        display: inline-block;
        padding: 5px;
    }
    
    .input1{
        margin-bottom: 20px;
    }
    
    .contecampos input{
        padding: 4px;
        outline: none;
        width: 270px;
        border-radius: 3px;
        border: none;
    }
    
    .botonlogin{
        color: var(--blanco);
        margin-top: 50px;
        outline: none;
        background-color: var(--negro2);
        width: 280px;
        height: 30px;
        font-size: 1rem;
        border-radius: 3px;
        border: none;
    }

    .botonlogin a{
        color: var(--blanco);
        text-decoration: none;
    }
    
    .conteform h5{
        padding: 10px;
        color: #fff;
        margin-left: 20px;
    }

    .botona{
        text-decoration: none;
        color: #000;
    }

    /*ESTILOS FORMULARIO REGISTRO USUARIOS*/

    .bodyformreu{
        background-image: url(../imagenes/formregusu/fondo.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .conte1{
        margin: 0%;
        height: 630px;
        width: 260px;
        background-color: #00325eae;
        text-align: center;
        color: var(--blanco);
    }

    .conte1 img{
        margin-top: 200px;
        width: 250px;
    }

    .conte1 h2{
        padding: 20px;
    }

    .contepadre{ 
        display: flex;
        flex-direction: row;
    }

    .conte2{
        float: right;
        margin: 30px 300px;
        /*margin-left: 300px;*/
        border-radius: 4px;
        padding: 30px;
        height: 510px;
        width: 640px;
        background-color: rgba(231, 229, 229, 0.877);
    }

    .conte2 h1{
        text-align: center;
    }

    .conte3{
        display: grid;
        margin: auto;
        width: 700px;
        grid-template-columns: 50% 50%;
    }

    .conte3 input {
        font-size: 10px;
        width: 230px;
        outline: none;
        border:none;
        padding: 5px;
        border-radius: 5px;
    }

    .conte3 select{
        width: 230px;
        outline: none;
        border:none;
        padding: 4px;
        border-radius: 5px;
    }

    .camposform{
        padding: 9px;
    }

    .camposformg{
        display: flex;
        justify-content: flex-start;
        width: 100px;
        padding: 20px;
    }

    .conte4{
        margin: 20px;
        margin-left: 180px;
        display:block;
    }

    .conte4 a{
        text-decoration: none;
        color: #000;
    }

    .botonform{
        background: var(--negro2);
        color: var(--blanco);
        font-size: 18px;
        padding: 2px 10px;
        display: block;
        width: 200px;
        height: 30px;
        margin: 0px auto;
    }

    /*======ESTILOS DASHBOARD=======*/

    .contenedor1{
        height: 625px;
        width: 208px;
        background-color: var(--azulnegro);
        justify-content: center;
        color: var(--blanco);
    }
    
    .contenedor1 img{
        margin-top: 20px;
        margin-left: 30px;
        width: 150px;
    }
    
    .conteencabezado{
        background-color: var(--azuloscuro);
        height: 190px;
    }
    
    .contenedor1 h5{
        padding: 60px;
        text-align: end;
        color: #FFF;
    }
    
    .opcion1 i{
        padding-left: 10px;
        font-size: 20px;
    }
    
    .opcion1{
        display: flex;
        flex-direction: row;
        padding-top: 40px;
    }
    
    .opcion1 h4{
        margin-left: 23px;
    }
    
    .opcion2{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
    }
    
    .opcion2 h4{
        margin-left: 23px;
    }
    
    .opcion2 i{
        padding-left: 10px;
        font-size: 25px;
    }

    .contenedor2 img{
        width: 150px;
        margin-left: 20px;
    }
    
    .contenedor2{
        margin: 20px 35px;
        border-radius: 4px;
        padding: 30px;
        height: 510px;
        width: 960px;
        background-color: rgba(231, 229, 229, 0.877);
    }
    
    .contenedor2 h1{
        text-align: center;
    }
    
    .iconosform{
        color: var(--blanco);
        background-color: var(--azuloscuro);
        margin-left: 20px;
        width: 150px;
        height: 35px;
        text-align: center;
        font-size: 30px;
        margin-top: 5px;
    }
    
    .iconosform i{
        padding-right: 17px;
        padding-left: 10px;
    }
    
    .botoncambiar{
        margin-top: 30px;
        margin-left: 20px;
        border-radius: 4px;
        border: none;
        background: var(--negro);
        color: var(--blanco);
        font-size: 18px;
        width: 150px;
        height: 58px;
    }
    
    .contenedordos{
        float: left;
    }
    
    .contenedor3{
        background-color: rgba(231, 229, 229, 0.062);
        display: grid;
        margin-left: 20px;
        width: 550px;
        grid-template-columns:60% 50%;
    }
    
    .contenedor3 input {
        font-size: 10px;
        width: 230px;
        outline: none;
        border:none;
        padding: 5px;
        border-radius: 2px;
    }
    
    .contenedor3 select{
        width: 230px;
        outline: none;
        border:none;
        padding: 4px;
        border-radius: 2px;
    }
    
    .botonactualizar{
        margin-left: 9px;
        border-radius: 2px;
        border: none;
        background: var(--negro);
        color: var(--blanco);
        font-size: 18px;
        width: 190px;
        height: 40px;
    }
    
    .botoncambiar2{
        margin-left: 10px;
        margin-top: 5px;
        border-radius: 2px;
        border: none;
        background: var(--negro);
        color: var(--blanco);
        font-size: 18px;
        width: 190px;
        height: 40px;
    }
    
    .camposform1{
        padding: 10px;
    }
    
}

/*Resolución Desktop*/
@media screen and (min-width: 1328px){

    nav{
        display: flex;
        flex-direction: row; /*se cambia la posición de los elementos*/
        width: 100%;
        justify-content: space-between;
        background-color: var(--negro2);
    }

    .logo{
        padding: 1rem;
    }

    .logo img{
        width: 100%;
        max-width: 180px;
    }

    .logo i{ /*se oculta el ícono bars del menú hamburguesa*/
        display: none;
    }
 
    .menu{
        background-color: var(--negro2);
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu-hr{ /*se oculta la barra de división*/
        display: none;
    }

    .navbar-button{
        background-color:var(--azuloscuro);
    }    

    .indexi{
        width: 100%;
    }
    
    .conteimg{
        position: relative;
        display: inline-block;
    }
    
    .contetexto{
        font-size: 1rem;
        position: absolute;
        height: 80px;
        top: 27rem;
        left: 4rem;
        color: var(--blanco);
        background-color: rgba(0, 0, 0, 0.26);
    }
    
    .imgdesc{
        float: right;
    }
    
    .contedesc{
        width: 850px;
        margin: 30px auto;
        padding: 20px 20px;
        text-align: left;
    }
      
    .contedesc img{
        width: 10rem;
        border-radius: 10px;
        float: right;
        margin-left: 8rem;
    }
    
    .features{
        background: url(../imagenes/index/bg-features.png);
        color: #fff;
        padding-top: 1rem;
        height: 15rem;
    }
    
    .featurestitulo{
        background-color: rgba(0,0,0,0.35);
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5em;
    }
    
    .featuresdesc{
        display: flex;
    }
    
    .feature{
        width: 200px;
        height: 100px;
        padding: 1rem;
        margin: 30px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
    }

    .featurearriba{
        display: flex;
        text-align: center;
        flex-direction: row;
    }

    .featureabajo{
        display: flex;
        text-align: center;
        flex-direction: row;
    }

    .feature i{
        font-size: 2.2em;
        margin-bottom: 1.5rem;
    }
    
    .featureazul{
        background-color: #00325eae;
    }
    
    .featurenegro{
        background-color: rgba(0,0,0,0.59);
    }
    
    .titulomapa{
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 1rem;
    }
    
    .mapa{
        justify-content: center;
        text-align: center;
    }
    
    .direccion{
        text-align: center;
        padding-top: 2rem;
    }

    .hr{
        width: 650px;
        margin-left: 22.5rem;
    }
    
    .conteusuarios{
        background-color: var(--negro);
        height: 200px;
        margin-top: 100px;
    }
    
    .titulousu{
        padding-top: 3rem;
        text-align: center;
        color: #fff;
    }
    
    .contecomen{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 20px;
    }
    
    .cajascomen{
        width: 270px;
        height: 180px;
        margin: 0.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #0B3860;
        color: #fff;
    }

    .cajascomen img{
        width: 50px;
        border-radius: 100px;
    }

    .cardarriba{
        display: flex;
        flex-direction: row;
        height: 80px;
    }

    .nombrecard{
        margin-left: 20px;
    }

    .nombrecard i{
        padding-top: 7px;
    }

    .estrellas{
        display: flex;
        flex-direction: row;
    }
    
    footer{
        height: 100%;
        background-color: var(--negro);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 18rem;
    }
    
    .cajasfooter1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        padding-top: 40px;
        height: 100px;
        margin-left: 30px;
    }
    
    .cajasfooter2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        height: 100px;
        padding-top: 30px;
        margin-left: 50px;
    }
    
    footer i{
        padding: 8px;
    }
    
    .cajasfooter3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        padding-top: 25px;
        height: 100px;
        width: 200px;
        margin-left: 50px;
    }

    .iconosfooter{
        display: flex;
        margin-top: 50px;
        margin-right: 1100px;
    }

    /*ESTILOS LOGIN */

    .login{
        background-image: url(../imagenes/login/fondo.jpg);
        background-repeat: no-repeat;
        width: 100%;
    }
    
    .conteform img{
        width: 130px;
        float: left;
        padding: 1rem;
    }
    
    .conteicono i{
        color: #9C2759;
        background-color: #fff;
        border-radius: 60px;
        font-size: 50px;
        margin-top: 80px;
        margin-left: -20px;
    }

    .conteform{
        margin-top: 150px;
        margin-left: 500px;
        height: 400px;
        width: 320px;
        background-color: #3379b7a9;
    }
    
    .contecampos{
        margin-left: 25px;
    }
    
    .contecampos label{
        color: var(--blanco);
        display: inline-block;
        padding: 5px;
    }
    
    .input1{
        margin-bottom: 20px;
    }
    
    .contecampos input{
        padding: 4px;
        outline: none;
        width: 270px;
        border-radius: 3px;
        border: none;
    }
    
    .botonlogin{
        color: var(--blanco);
        margin-top: 50px;
        outline: none;
        background-color: var(--negro2);
        width: 280px;
        height: 30px;
        font-size: 1rem;
        border-radius: 3px;
        border: none;
    }

    .botonlogin a{
        color: var(--blanco);
        text-decoration: none;
    }
    
    .conteform h5{
        padding: 10px;
        color: #fff;
        margin-left: 20px;
    }

    .botona{
        text-decoration: none;
        color: #000;
    }

    /*ESTILOS FORMULARIO REGISTRO USUARIOS*/

    .bodyformreu{
        background-image: url(../imagenes/formregusu/fondo.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .conte1{
        margin: 0%;
        height: 768px;
        width: 260px;
        background-color: #00325eae;
        text-align: center;
        color: var(--blanco);
    }

    .conte1 img{
        margin-top: 200px;
        width: 250px;
    }

    .conte1 h2{
        padding: 20px;
    }

    .contepadre{ 
        display: flex;
        flex-direction: row;
    }

    .conte2{
        float: right;
        margin-left: 230px;
        border-radius: 4px;
        padding: 30px;
        height: 510px;
        width: 600px;
        background-color: rgba(231, 229, 229, 0.877);
    }

    .conte2 h1{
        text-align: center;
    }

    .conte3{
        display: grid;
        margin: auto;
        width: 700px;
        grid-template-columns: 50% 50%;
    }

    .conte3 input {
        font-size: 10px;
        width: 230px;
        outline: none;
        border:none;
        padding: 5px;
        border-radius: 5px;
    }

    .conte3 select{
        width: 230px;
        outline: none;
        border:none;
        padding: 4px;
        border-radius: 5px;
    }

    .camposform{
        padding: 9px;
    }

    .camposformg{
        display: flex;
        justify-content: flex-start;
        width: 100px;
        padding: 20px;
    }

    .botonform{
        color: var(--blanco);
        background: var(--negro2);
        font-size: 18px;
        padding: 2px 10px;
        display: block;
        width: 200px;
        height: 30px;
        margin: 0px auto;
    }


    /*ESTILOS MODAL*/

    .conte4 button{
        border-radius: 1px var(--negro2);
        height: 13px;
    }

    #cerrar{
        color: var(--blanco);
        background: var(--negro);
        font-size: 15px;
        padding: 2px 10px;
        display: block;
        width: 95px;
        height: 30px;
        margin: 0px auto;
        border: none;
    }

    .modal-container{
        background-color: var(--blanco);
        display: flex;
        position: fixed;
        pointer-events: none;
        bottom: 80px;
        left: 450px;
        width: 400px;
        height: 450px;
        opacity: 0;
    }

    .show{
        pointer-events: auto;
        opacity: 1;
    }

    .modal{
        width: 600px;
        max-width: 100%;
    }

    .modaltitulo{
        background-color: var(--azuloscuro);
        width: 100%;
        height: 70px;
    }

    .modaltitulo h2{
        color: var(--blanco);
        padding: 18px 70px;
    }

    .modal p{
        padding: 30px;
    }
}

/*ESTILOS FORM HABITACIÓN*/

.contepadrehabi{
    display: flex;
}

.conteizq{
    float: left;
    width: 200px;
    height: 619px;
}

.contedere{
    background-image: url(../imagenes/formhabi/fondo.jpg);
    background-repeat: none;
    width: 100%;
}

.contetitulo{
    background-color: rgba(178, 179, 179, 0.897);
    margin-top: 25px;
    margin-left: 50px;
    height: 560px;
    width: 1050px;
    border-radius: 5px;
    position: absolute;
}

.contetitulo h1{
    text-align: center;
    padding: 20px;
}

.conteformuno{
    display: flex;
    position: relative;
    margin-top: 7rem;
    margin-left: 80px;
    width: 500px;
    float: left;
}

.contedosmenos{
    float: right;
}

#menos{
    background-color: var(--negro2);
    color: var(--blanco);
    font-size: 15px;
}

#mas{
    background-color: var(--negro2);
    color: var(--blanco);
    font-size: 15px;
}

.conteformuno label{
    font-size: 1rem;
}

.conteformuno input{
    width: 500px;
    height: 22px;
    outline: none;
    border: none;
    border-radius: 2px;
    margin: 5px 0px;
}

.conteformdos{
    position: relative;
    float: right;
    margin-top: 7rem;
    margin-right: 200px;
    width: 320px;
}

.conteformdos label{
    font-size: 1rem;
}

.conteformdos input{
    width: 420px;
    height: 22px;
    outline: none;
    border: none;
    border-radius: 2px;
    margin: 10px 0px;
}

.conteformtres{
    margin-left: 80px;
    margin-top: 325px;
    position: relative;
}

.conteformtres label{
    font-size: 1rem;
}

.conteformtres input{
    width: 970px;
    height: 70px;
    outline: none;
    border: none;
    border-radius: 2px;
    margin: 10px 0px;
}

.conteformcuatro{
    margin-top: 20px;
    margin-left: 80px;
    flex-direction: row;
    position: relative;
}

.conteformcuatro i{
    margin-left: 5px;
    font-size: 20px;
    margin-right: 130px;
}

.botonformhuesped{
    position: relative;
    background: var(--negro);
    color: var(--blanco);
    font-size: 18px;
    padding: 2px 10px;
    display: block;
    width: 200px;
    height: 30px;
    margin: 50px auto;
    border: none;
}

/*LISTADO USUARIOS*/

.contelistuno{
    width: 208px;
    height: 625px;
    background-color: var(--azulnegro);
    justify-content: center;
    color: var(--blanco);
    position: absolute;

}

.contelistuno img{
    margin-top: 20px;
    margin-left: 30px;
    width: 150px;
}

.conteencabe{
    background-color: var(--azuloscuro);
    height: 190px;
}

.conteusulist{
    display: flex;
    flex-direction: row;
}

.conteusulist img{
    width: 40px;
    margin: 50px 10px;
}

.conteusulist h5{
    margin: 50px 0px;
}

.icono1{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 20px;
}

.icono1 h4{
    margin-left: 23px;
}

.icono1 i{
    padding-left: 10px;
    font-size: 20px;
}

.icono2{
    display: flex;
    flex-direction: row;
    margin-top: 190px;
    padding-top: 20px;
    padding-left: 20px;
}

.icono2 h4{
    margin-left: 23px;
}

.icono2 i{
    padding-left: 10px;
    font-size: 20px;
}

.contelistdos{
    float: right;
    width: 84%;
    height: 625px;
}

.contelistdos h1{
    text-align: center;
    margin: 0%;
}

.conteselect{
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 100px;
    height: 40px;
    justify-content: center;
    text-align: center;
    background-color: rgba(178, 179, 179, 0.74);
}

.conteselect select{
    margin-right: 100px;
    width: 160px;
    border: none;
    outline: none;
    padding: 4px;
    border-radius: 2px;
}

.contelisttres{
    position: absolute;
    display: flex;
    flex-direction: row;
}

.card1{
    background-color: var(--blanco);
    width: 250px;
    margin-left: 270px;
    margin-top: 120px;
    position: relative;
    box-shadow: 0px 0px 0px 1px #000;
}

.card1 img{
    width: 220px;
    padding: 10px 15px;
}

.card1titulo{
    margin-left: 15px;
    width: 190px;
    height: 30px;
    padding: 0px 15px;
    position: relative;
    background-color: #48d7eda2;
    color: var(--blanco);
    text-align: center;
}

.card1texto h2{
    text-align: center;
}

.card1texto p{
    text-align: justify;
    font-size: 15px;
    padding: 0px 10px;
}

.card1botones{
    display: flex;
    flex-direction: row;
}

.botoncard1{
    background: var(--negro);
    color: var(--blanco);
    font-size: 17px;
    padding: 2px 10px;
    width: 150px;
    height: 30px;
    margin: 10px 10px;
    border: none;
    border-radius: 3px;
}

.botoncard2{
    background: var(--Magenta);
    color: var(--blanco);
    font-size: 17px;
    padding: 2px 10px;
    width: 150px;
    height: 30px;
    margin: 10px 20px;
    border: none;
    border-radius: 3px;
}

.card2{
    background-color: var(--blanco);
    width: 250px;
    margin-left: 130px;
    margin-top: 120px;
    box-shadow: 0px 0px 0px 1px #000;
}

.card2 img{
    width: 220px;
    padding: 10px 15px;
}

.card3{
    background-color: var(--blanco);
    width: 250px;
    margin-left: 120px;
    margin-top: 120px;
    box-shadow: 0px 0px 0px 1px #000;
}

.card3 img{
    width: 220px;
    padding: 10px 15px;
}

.contelistcuatro{
    position: absolute;
    display: flex;
    flex-direction: row;
}

.card4{
    background-color: var(--blanco);
    width: 250px;
    margin-left: 270px;
    margin-top: 500px;
    position: relative;
    box-shadow: 0px 0px 0px 1px #000;
}

.card4 img{
    width: 220px;
    padding: 10px 15px;
}

.card5{
    background-color: var(--blanco);
    width: 250px;
    margin-left: 130px;
    margin-top: 500px;
    box-shadow: 0px 0px 0px 1px #000;
}

.card5 img{
    width: 220px;
    padding: 10px 15px;
}

.card6{
    background-color: var(--blanco);
    width: 250px;
    margin-left: 120px;
    margin-top: 500px;
    box-shadow: 0px 0px 0px 1px #000;
}

.card6 img{
    width: 220px;
    padding: 10px 15px;
}

/*ESTILOS FORM BUSQUEDA HABITACIONES*/

.contepadrebusqueda{
    position: absolute;
}

.conteunobusqueda{
    position: absolute;
    width: 300px;
    height: 270px;
    margin: 10px 300px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px #3379b7bb;
}

.contebusquedatitulo{
    background-color: var(--azuloscuro);
    color: var(--blanco);
    width: 270px;
    height: 30px;
    margin-top: 100px;
    margin-left: 310px;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
}

.formbusqueda{
    padding: 20px;
    position: absolute;
}

.formbusqueda input{
    margin-left: 10px;
    margin-bottom: 20px;
    width: 180px;
    height: 25px;
    border: 1px 1px 1px 1px #000;
    outline: none;
}

.forminputuno{
    padding-left: 10px;
}

.forminputdos{
    padding-left: 15px;
}

.botonformbusqueda{
    background: var(--negro2);
    color: var(--blanco);
    font-size: 15px;
    padding: 2px 10px;
    display: block;
    width: 220px;
    height: 30px;
    margin: 5px auto;
    border: none;
}

.contedosbusqueda{    
    position: absolute;
    display: flex;
    flex-direction: row;
}
    
    .carduno{
        background-color: var(--blanco);
        width: 250px;
        height: 280px;
        margin-left: 350px;
        position: relative;
        margin-top: 2%;
        box-shadow: 0px 0px 0px 1px #000;
    }
    
    .carduno img{
        width: 220px;
        padding: 10px 15px;
    }
    
    .cardunotitulo{
        margin-left: 15px;
        width: 190px;
        height: 30px;
        padding: 0px 15px;
        position: relative;
        background-color: #48d7eda2;
        color: var(--blanco);
        text-align: center;
    }
    
    .cardunotexto h2{
        text-align: center;
    }
    
    .cardunotexto p{
        text-align: justify;
        font-size: 15px;
        padding: 0px 10px;
    }
    
    .cardunobotones{
        display: flex;
        flex-direction: row;
    }
    
    .botoncard{
        background: var(--negro);
        color: var(--blanco);
        font-size: 17px;
        padding: 2px 10px;
        width: 223px;
        height: 30px;
        margin: 10px 13px;
        border: none;
        border-radius: 3px;
    }
    
    .carddos{
        background-color: var(--blanco);
        width: 250px;
        margin-left: 130px;
        margin-top: 120px;
        box-shadow: 0px 0px 0px 1px #000;
        height: 280px;
        position: relative;
        margin-top: 2%;
    }
    
    .carddos img{
        width: 220px;
        padding: 10px 15px;
    }

    .contetresbusqueda{
        position: absolute;
        display: flex;
        flex-direction: row;
    }

    .cardtres{
        background-color: var(--blanco);
        width: 250px;
        height: 300px;
        margin-left: 350px;
        margin-top: 320px;
        box-shadow: 0px 0px 0px 1px #000;
    }
    
    .cardtres img{
        width: 220px;
        padding: 10px 15px;
    }

    .cardcuatro{
        background-color: var(--blanco);
        width: 250px;
        height: 300px;
        margin-left: 130px;
        margin-top: 320px;
        box-shadow: 0px 0px 0px 1px #000;
    }
    
    .cardcuatro img{
        width: 220px;
        padding: 10px 15px;
    }